/* Definitions */
/* Generics and Reset */
* {
  margin: 0;
  padding: 0; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  color: #fff;
  font-family: 'Overpass Mono', monospace;
  font-size: 14px;
  line-height: 14px; }

.hidden {
  display: none; }

/* Menu */
.menu {
  position: relative;
  height: 48px;
  overflow: hidden;
  white-space: pre;
  z-index: 6;
  box-shadow: 0 0 4px black;
  transition: background 0.3s ease-in-out; }
  .menu .btn {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 48px;
    padding: 0 10px;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    transition: background 0.3s ease-out; }
    .menu .btn.right {
      float: right; }
    .menu .btn:hover {
      background: rgba(255, 255, 255, 0.16); }
    .menu .btn .icon {
      font-size: 24px;
      line-height: 100%;
      top: 5px;
      left: 0;
      right: 0;
      text-align: center;
      position: absolute; }
    .menu .btn .text {
      font-size: 10px;
      line-height: 100%;
      bottom: 5px;
      left: 0;
      right: 0;
      text-align: center;
      position: absolute; }
  .menu .edit .btn {
    color: #fff; }
  .menu .run .btn {
    color: #e69100; }

/* Editor */
.editor-wrapper {
  width: 100%;
  height: 100%;
  transition: background 0.3s ease-in-out; }
  .editor-wrapper .editor {
    position: absolute;
    top: 48px;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-y: scroll;
    transition: left 0.3s ease-out; }
    .editor-wrapper .editor > textarea {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      padding: 2px 10px;
      box-sizing: border-box;
      background: transparent;
      color: #fff;
      border: none;
      font-family: 'Overpass Mono', monospace;
      font-size: 14px;
      line-height: 16px;
      resize: none; }
  .editor-wrapper.editing {
    background: #123; }
    .editor-wrapper.editing .menu {
      background: #00bcd4; }
  .editor-wrapper.running {
    background: #222; }
    .editor-wrapper.running .menu {
      background: #333; }
  body.fatal .editor-wrapper .menu {
    background-color: red; }
    body.fatal .editor-wrapper .menu .mode {
      display: none; }
    body.fatal .editor-wrapper .menu::after {
      content: "Fatal error";
      display: block;
      width: 100%;
      line-height: 48px;
      height: 48px;
      text-align: center; }

/* Mode (for animated swipe transitions) */
.mode {
  position: absolute;
  width: 100%; }
  .mode.edit {
    left: -100%;
    opacity: 0;
    transition: left 0.3s ease-in, opacity 0.3s ease-in; }
  .mode.run {
    left: 100%;
    opacity: 0;
    transition: left 0.3s ease-in, opacity 0.3s ease-in; }

.editing .mode.edit,
.running .mode.run {
  left: 0;
  opacity: initial;
  transition: left 0.3s ease-out, opacity 0.3s ease-out; }

.fatal-error-message {
  position: absolute;
  top: 48px;
  width: 100%;
  left: 0;
  margin: auto;
  padding: 20px 10%;
  box-sizing: border-box;
  background: rgba(255, 0, 0, 0.8); }

/* Signals (common) */
.value {
  color: #fff; }

.signal {
  color: #8be; }
  .signal.all {
    color: #f55; }
  .signal.any {
    color: #3e3; }
  .signal.each {
    color: #ff3; }

/* State Table */
.state {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  font-size: 12px; }
  .state .name, .state .signal {
    padding-left: 5px; }
    @media screen and (max-width: 520px) {
      .state .name, .state .signal {
        padding-left: 20px; } }
  .state .tick, .state .value {
    padding-right: 5px; }
    @media screen and (max-width: 520px) {
      .state .tick, .state .value {
        padding-right: 20px; } }
  .state .tick, .state .wire {
    border-bottom: 1px solid #333; }
  .state .signal-table {
    width: 100%; }

.signal-table {
  border-spacing: 0;
  font-size: 10px;
  line-height: normal; }
  .signal-table tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.16); }
  .signal-table .signal {
    float: left; }
  .signal-table .value {
    text-align: right; }

/* Network */
.network-wrapper {
  top: 48px;
  bottom: 0;
  left: 0; }
  .network-wrapper .state-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 48px;
    width: 220px;
    background: #444;
    z-index: 4; }
    @media screen and (max-width: 520px) {
      .network-wrapper .state-wrapper {
        left: 0;
        bottom: initial;
        width: 100%;
        height: 100px;
        box-shadow: 0 0 4px black; } }
    .network-wrapper .state-wrapper::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 10px;
      background: linear-gradient(to bottom, #444 0%, transparent 100%); }
    .network-wrapper .state-wrapper::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 10px;
      bottom: 0;
      background: linear-gradient(to top, #444 0%, transparent 100%); }
  .network-wrapper .detail-wrapper {
    display: table;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    bottom: 0;
    height: 48px;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 4px black;
    background: #333; }
  .network-wrapper .network {
    margin-right: 220px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 48px;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll; }
    @media screen and (max-width: 520px) {
      .network-wrapper .network {
        margin-right: 0px;
        top: 100px; } }
    .network-wrapper .network .segments {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      pointer-events: none; }
      .network-wrapper .network .segments.underlay {
        z-index: 1; }
      .network-wrapper .network .segments.overlay {
        z-index: 3; }

/* Combinators */
@keyframes pulse-selected {
  0% {
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.25); }
  50% {
    box-shadow: 0 0 4px white; }
  100% {
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.25); } }
.combinator {
  box-sizing: border-box;
  overflow: hidden; }
  .combinator .operator {
    font-weight: bold; }
  .combinator .button {
    font-size: 20px;
    text-align: center;
    background: #333;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 5px;
    border: 2px solid #e69100;
    cursor: pointer;
    user-select: none;
    color: #e69100; }
    .combinator .button:hover {
      background: #444; }
  .combinator.thumbnail {
    position: absolute;
    width: 20%;
    height: 96px;
    z-index: 2; }
    .combinator.thumbnail .operator, .combinator.thumbnail .button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .combinator.thumbnail .operator {
      font-size: 20px;
      text-align: center;
      background: #333;
      height: 30px;
      width: 30px;
      line-height: 30px;
      border-radius: 5px;
      border: 2px solid white; }
    .combinator.thumbnail::before {
      content: '';
      border-radius: 5px;
      position: absolute;
      top: 5px;
      bottom: 5px;
      left: 15px;
      right: 15px; }
    .combinator.thumbnail.selected::before {
      box-shadow: 0 0 4px white;
      animation: 5s pulse-selected infinite; }
    .combinator.thumbnail.constant .signal, .combinator.thumbnail.constant .value, .combinator.thumbnail.toggle .signal, .combinator.thumbnail.toggle .value, .combinator.thumbnail.pulse .signal, .combinator.thumbnail.pulse .value, .combinator.thumbnail.display .signal, .combinator.thumbnail.display .value {
      position: absolute;
      left: 15px;
      right: 15px; }
    .combinator.thumbnail.constant .signal, .combinator.thumbnail.toggle .signal, .combinator.thumbnail.pulse .signal, .combinator.thumbnail.display .signal {
      top: 5px;
      word-wrap: break-word;
      font-size: 10px;
      line-height: 100%; }
    .combinator.thumbnail.constant .value, .combinator.thumbnail.toggle .value, .combinator.thumbnail.pulse .value, .combinator.thumbnail.display .value {
      bottom: 5px;
      text-align: right; }
  .combinator.detail {
    display: none;
    vertical-align: middle; }
    .combinator.detail.selected {
      display: table-cell;
      min-height: 48px; }
    .combinator.detail .signal-table {
      margin: 0 auto; }
      .combinator.detail .signal-table .signal {
        padding-right: 20px; }
    .combinator.detail .button {
      position: absolute;
      left: 20px;
      top: -20px;
      box-shadow: 0 0 12px black; }
  .combinator.constant.thumbnail::before {
    background: #610704; }
  .combinator.constant.thumbnail .operator {
    border-color: black;
    color: black; }
  .combinator.constant.detail {
    background: #610704; }
    .combinator.constant.detail .operator {
      color: black; }
  .combinator.pulse.thumbnail::before {
    background: #444; }
  .combinator.pulse.thumbnail .operator {
    border-color: black;
    color: black; }
  .combinator.pulse.detail {
    background: #444; }
    .combinator.pulse.detail .operator {
      color: black; }
  .combinator.pulse .button .icon.active {
    display: none; }
  .combinator.pulse.active.thumbnail::before {
    background: #610704; }
  .combinator.pulse.active.thumbnail .operator {
    border-color: black;
    color: black; }
  .combinator.pulse.active.detail {
    background: #610704; }
    .combinator.pulse.active.detail .operator {
      color: black; }
  .combinator.pulse.active .button .icon.active {
    display: initial; }
  .combinator.pulse.active .button .icon.inactive {
    display: none; }
  .combinator.toggle.thumbnail::before {
    background: #444; }
  .combinator.toggle.thumbnail .operator {
    border-color: black;
    color: black; }
  .combinator.toggle.detail {
    background: #444; }
    .combinator.toggle.detail .operator {
      color: black; }
  .combinator.toggle .button {
    height: 60px; }
    .combinator.toggle .button::after {
      background: #e69100;
      content: '';
      position: absolute;
      top: 30px;
      left: 0;
      right: 0;
      height: 30px;
      transition: top 0.3s ease-in-out; }
  .combinator.toggle.active.thumbnail::before {
    background: #610704; }
  .combinator.toggle.active.thumbnail .operator {
    border-color: black;
    color: black; }
  .combinator.toggle.active.detail {
    background: #610704; }
    .combinator.toggle.active.detail .operator {
      color: black; }
  .combinator.toggle.active .button::after {
    top: 0; }
  .combinator.pole.thumbnail::before {
    background: #444; }
  .combinator.pole.thumbnail .operator {
    border-color: black;
    color: black; }
  .combinator.pole.detail {
    background: #444; }
    .combinator.pole.detail .operator {
      color: black; }
  .combinator.arithmetic.thumbnail::before {
    background: #223c55; }
  .combinator.arithmetic.thumbnail .operator {
    border-color: #443d22;
    color: #443d22; }
  .combinator.arithmetic.detail {
    background: #223c55; }
    .combinator.arithmetic.detail .operator {
      color: #ff3; }
  .combinator.decider.thumbnail::before {
    background: #443d22; }
  .combinator.decider.thumbnail .operator {
    border-color: #252;
    color: #252; }
  .combinator.decider.detail {
    background: #443d22; }
    .combinator.decider.detail .operator {
      color: #3e3; }
  .combinator.display.thumbnail::before {
    background: #252; }
  .combinator.display.thumbnail .operator {
    border-color: black;
    color: black; }
  .combinator.display.detail {
    background: #252; }
    .combinator.display.detail .operator {
      color: black; }
  @media screen and (min-width: 800px) {
    .combinator.display.thumbnail .value {
      font-size: 18px;
      line-height: 100%; } }
  .combinator.display.detail .value {
    font-size: 18px;
    padding-left: 20px; }
  .combinator.label {
    white-space: pre-line; }
    .combinator.label.thumbnail::before {
      display: none; }
    .combinator.label.detail {
      background: #333;
      padding: 10px 5px; }
    .combinator.label.h1 {
      font-size: 18px;
      line-height: 100%; }
    .combinator.label.h3 {
      font-size: 12px;
      line-height: 100%; }

/*# sourceMappingURL=style.css.map */
